################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emlak Sitesi/obj/Debug/Emlak Sitesi.csprojAssemblyReference.cache
