@model UserModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="col-md-2">@(((UserModel)ViewData["user"]).Name)</div>
<div class="panel panel-success col-md-8 center" >
    <div class="panel-heading text-center">
        <h4>Kullanici Kayit</h4>
    </div>
    <div class="panel-body">
        <form asp-action="SaveUser" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group center">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">Phone</label>
                <input class="form-control" asp-for="Phone" />
            </div>
            <div class="form-group text-center" >
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-2">
    <table class="table table-sm table-bordered">
        <thead class="bg-primary text-white">
           
        </thead>

    </table>
</div>




